<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página Principal</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <style>
    .hero-background {
      background-image: url('portada.png');
      background-size: cover;
      background-position: center;
      height: 100vh;
    }
    .hero-body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <section class="hero is-primary is-fullheight hero-background">
    <div class="hero-head">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img src="logo.jpg" alt="Logo">
          </a>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">Bienvenido a nuestra aplicación</h1>
        <p class="subtitle is-3">Una herramienta diseñada para personas con discapacidad visual</p>
        <div class="buttons">
          <a class="button is-primary is-medium" href="{% url 'login' %}">Iniciar Sesión</a>
          <a class="button is-link is-medium" href="{% url 'register' %}">Registrarse</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="title is-2">Información Importante</h2>
      <p>La discapacidad visual es una roblemática que debe ser atendida, todo merecemos tener la mis aportunidad de condiciones para expresar nuestro talento y cualidades en este mundo</p>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="title is-2">Contáctanos</h2>
      <p>0939943013</p>
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Más información</strong> sobre la discapacidad visual y cómo apoyar a quienes la padecen.
      </p>
    </div>
  </footer>
</body>
</html>