<!DOCTYPE html>
<html>
  <head>
    <title>App Discapacidad Visual</title>    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>

  <body>
    <section class="hero is-medium is-primary">

      <div class="hero-body">
        <div class="container">
          <img src="logo.png"> 
          <h1 class="title is-2">Accesibilidad Visual</h1>
          <h2 class="subtitle">
            Bienvenido a nuestra aplicación enfocada en mejorar la accesibilidad de personas con discapacidad visual  
          </h2>

          <button class="button is-light is-large">
            Registrarse
          </button>

          <button class="button is-info is-large">
            Información
          </button>
        </div>
      </div>

    </section>

    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <!-- Contenidos -->
            <h2 class="is-size-2">La discapacidad visual</h2>
            <p>Explicación e información sobre discapacidad visual...</p>
          </div>
          <div class="column">
            <!-- Imagen-->
            <figure>
              <img src="discapacidad.png">
            </figure>  
          </div>
        </div>
      </div>
    </section>

    <footer class="footer has-background-grey-dark">
      <div class="content has-text-centered has-text-white">
        <p>Contacto: contacto@app.com</p>  
      </div>
    </footer>

  </body>
</html>